<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.S. Café Co - Contact</title>
    <meta name="description" content="Contact us about any conserns.">
    <meta name="keywords" content="E.S. Café Co contact, email, phonenumber">
    <meta name="author" content="Evan Sergi (Albury High School)">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- ---------- Header and Navigation ---------- -->
  <header class="site-header">
    <div class="container header-inner">
      
      <!-- ---------- Brand Section (Logo + Name) ---------- -->
      <div class="brand">
        <a href="index.html">
          <img src="/static/images/logo.png" alt="E.S. Café Co logo" class="logo">
        </a>
        <span class="brand-name">E.S. Café Co</span>
      </div>

    <!-- ---------- Navigation Menu ---------- -->
    <nav aria-label="Primary">
      <ul class="nav-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    </header>


    <h1>Hi this page currently does not exist but we're trying out best to fix that.<br>Come back later</h1>
  <!-- ---------- Footer Section ---------- -->
  <footer class="site-footer">
  <div class="container">
    © 2025 AppleProductions Co • <a href="#">Privacy</a>
  </div>
  </footer>
</body>
</html>